.pink {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, DejaVu Sans, sans-serif;
}
#second {
  background-color: white;
  color: rgb(0, 0, 255);
  font-size: 36px;
}
.thirdForth {
  font-size: 24px;
}
#forth {
  font-weight: bold;
  background-color: rgb(128, 255, 128);
}
