.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
  font-size: 22px;
}
.small-para {
  font-size: 14px;
}
#confirm-button {
  background-color: rgb(0, 128, 0);
  color: white;
}
#cancel-button {
  background-color: white;
}
.button {
  font-size: 20px;
}

div.text {
  color: green;
  font-size: 22px;
}
