body {
  border: 4px solid black;
  padding-bottom: 3%;
}
.header {
  padding: 5px;
  border-bottom: 4px solid black;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.general {
  display: flex;
  flex-direction: row;
  padding: 2.5% 5% 0% 2%;
}
.square {
  width: 30%;
  height: 150px;
  background-color: rgb(234, 153, 153);
}
.rectangle {
  width: 100%;
  height: 150px;
  background-color: rgb(159, 197, 248);
}
.square,
.rectangle,
.long-rectangle {
  border: 4px solid black;
  margin: 20px;
}
.long-rectangle {
  width: 130%;
  height: 150px;
  background-color: rgb(255, 229, 153);
}
